@model IEnumerable<Booking.Models.Dtos.ReservationListDto>

@{
    ViewData["Title"] = "ReservationsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ReservationsList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>      
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
               
            </td>
        </tr>
}
    </tbody>
</table>
